@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* Empêche la sélection de texte et le drag natif sur toute l'interface */
body {
  user-select: none;
  -webkit-user-select: none;
}

/* Permet la sélection dans les inputs/textareas */
input, textarea, select {
  user-select: text;
  -webkit-user-select: text;
}
